@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


html{
    min-height: 100%;
    background-image: url('../img/fondo_html.jpg');
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    }

[data-tab-contenido] {
    display: none;
}

.activo[data-tab-contenido]{
    display: block;
}
nav{
    background-image: url("../img/fondo_nav_html.jpg") ;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    padding: 0;
    margin: 0;
}
#Foto{
    display: flex;
    overflow: hidden;
    justify-content: space-around ;
    height: 128px;
    width: 128px;
    }

nav ul{ 
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    list-style: none;
    }

.tab{
    background-color: aquamarine;
    cursor: pointer;
    margin: 0;
    padding: 1rem 8rem;
    position: relative;
}

.tab.activo{
    background-color: #7fffd452;
}

.tab:hover{
    background-color: aqua;
}
.icon{
    width: 55px;
    height: 55px;
}

main{
    padding-left: 0.5rem;
}

#habilidades, #experiencia_laboral, #sobre{
    font-size: 1.5rem;
}

@media (max-width: 1080px ){
    nav ul{
        flex-direction: column;
    }
    
}